doctype html
html
    head
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="sass/dist/homepage.css")
    body
        div.main
        include includes/_header.pug
        include includes/_first_section.pug
        include includes/_second_section.pug
